// Colors
$blue: #518ed2; //#1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$global-color-orange: #e49226;
$global-color-tomato: #f15024;
$global-color-mustard: #ecc603;
$global-color-brown: #624700;
$global-color-teal: #41bec0;

$fifty-shades-grey-25: #eee;
$fifty-shades-grey-50: #cccccc;
$fifty-shades-grey-75: #a2a2a2;
$fifty-shades-grey-100: #898989;


$meloncoly-blue-10: #abf0ff;    //          (171,240,255)
$meloncoly-blue-20: #81cfdb;    // 	(129,207,219)
$meloncoly-blue-30: #6393b6;    // 	(99,147,182)
$meloncoly-blue-40: #9fdfff;    //	(159,223,255)
$meloncoly-blue-50: #2889ff;    //	(81,142,210)


$global-margin-top: 6%;
$global-flex: 1 0 auto; //1 0 auto
$global-max-width: 1920px;

$jumbotron-font-size: 3rem;

$global-filter-alpha: 0.55;
$global-tfilter-alpha: 0.25;

$global-blue: #2ab2f5;

$global-color-brown-alt: #604806;
$global-color-blue-25: #dff3f7;
$global-color-blue-50: #A6e0ed;
$global-color-blue-75: #5fafc7;
$global-contr-padding-top: 10rem;
$global-contr-padding-bot: 10rem;

// Global Page Left Right Margins
$global-pg-lr-margin: 4rem;
$global-section-margin: 4rem;

// Breakpoints
$xxsmall-screen: em(320px);
$xsmall-screen: em(480px);
$small-screen-2: em(750px);
$small-screen: em(800px);
$medium-screen: em(1024px);
$large-screen: em(1366px);
$xlarge-screen: em(1440px);
$xxlarge-screen: em(1600px);
$xxxlarge-screen: em(1920px);

//Page Max-widths
$outer-max-width: 100%;
$inner-max-width-xl: 80.000em; //78.000em; //80.000em = 1280px
$inner-max-width-lrg: 64.000em; //56.250em; //64.00em = 1024px
$inner-max-width-med: 61.250em; //56.250em; //61.250em = 980px
$inner-max-width-sm: 25.000em;  //25.000em = 400px
$inner-max-width-xs: 100%; 


// Typography   
$base-font-family: 'Quattrocento', serif; //'Cuprum', sans-serif; 
$heading-font-family: 'Lato', sans-serif; //$base-font-family;
$button-font-family: 'Oswald', sans-serif;

// Font Sizes
$base-font-size: 1.125em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$base-top-page-offset: 3rem;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $meloncoly-blue-50;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #666;
$color__border-abbr: #666;

