// Colors
$blue: #518ed2; //#1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$global-color-orange: #e49226;
$global-color-tomato: #f15024;
$global-color-mustard: #ecc603;
$global-color-brown: #624700;
$global-color-teal: #41bec0;
$global-blue: #2ab2f5;

$fifty-shades-grey-25: #eee;
$fifty-shades-grey-50: #cccccc;
$fifty-shades-grey-75: #a2a2a2;
$fifty-shades-grey-100: #898989;


$meloncoly-blue-10: #abf0ff;    //          (171,240,255)
$meloncoly-blue-20: #81cfdb;    // 	(129,207,219)
$meloncoly-blue-30: #6393b6;    // 	(99,147,182)
$meloncoly-blue-40: #9fdfff;    //	(159,223,255)
$meloncoly-blue-50: #2889ff;    //	(81,142,210)


$global-color-brown-alt: #604806;
$global-color-blue-25: #dff3f7;
$global-color-blue-50: #A6e0ed;
$global-color-blue-75: #5fafc7;
$global-contr-padding-top: 10rem;
$global-contr-padding-bot: 10rem;

