#################################################
# WordPress Ignore
#################################################
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
.DS_Store

wp-admin/
wp-includes/

wp-login.php
wp-settings.php
wp-signup.php
wp-config.php
wp-load.php
wp-links-opml.php
wp-activate.php
wp-blog-header.php
wp-config-sample.php
wp-cron.php
xmlrpc.php
wp-trackback.php 
wp-mail.php
readme.html
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
node_modules
node_modules/*

.sass-cache/

nbproject/

#################################################
# Eclipse Ignore
#################################################
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
.com.apple.timemachine.supported
/wp-content/themes/my-underscore-theme/nbproject/private/
/nbproject/private/
/wp-content/themes/my-underscore-wp-theme/nbproject/private/
/wp-content/themes/imp-twentysixteen/nbproject/private/
/wp-content/themes/imp-twentyseventeen/nbproject/private/