.tagcloud {
    padding: 0 15px;
}

.tag_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    text-align: center;
    > li {
        float: none;
        list-style: none outside none;
        //margin: 0 3px 0 0;
        padding: 0;
        line-height: 18px;
        text-align: center;
        display: inline-block;
    }
    a {
        margin: 0 0.188rem;
    }
}

.tag-cta {
    .mp-tags {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        a {
            color: #0071a8;
            &:hover {
                color: lighten(#0071a8, 13.5%);
            }
        }
    }
}