


.breadcrumb-container {
    @media (min-width: $large-screen + 1) {
        @include outer-container(em(1920px));
    }
    @media (min-width: $small-screen + 1) {
        padding: 0.5em $global-pg-lr-margin;
    }
    @media (max-width: $small-screen) {
        padding: 0.5em $global-pg-lr-margin/2;
    }
    background-color: #f5f5f5;
    position: relative;
}

.breadcrumb {
    list-style: none;
    > li {
        display: inline-block;
        + li::before {
            color: #ccc;
            content: " ";
            padding: 0 5px;
        }
    }
    > .active {
        color: #2ab2f5;
    }
}