.breadcrumb-container {
    @media (min-width: $large-screen + 0.05) {
        @include outer-container(em(1920px));
    }
    @media (min-width: $small-screen + 0.05) {
        padding: 0.5em $global-pg-lr-margin;
    }
    @media (max-width: $small-screen) {
        padding: 0.5em $global-pg-lr-margin/2;
    }
    background-color: #f5f5f5;
    position: relative;
}

.breadcrumb {
    list-style: none;
    @media (max-width: $xxsmall-screen){
        font-size: 0.75rem;
    }
    > li {
        display: inline-block;
        text-transform:capitalize;
        @media (max-width: $xxsmall-screen){
            font-size: 0.75rem;
        }
        /*        + li::before {
                    color: #ccc;
                    content: " ";
                    padding: 0 5px;
                }*/
        .fa {
            margin-left: 0.50rem;
        }
        a {
            text-transform:capitalize;
        }
    }
    > .active {
        color: #2ab2f5;
    }
}