.footer-2 {
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $footer-background: $dark-gray; //desaturate(darken($action-color, 20%), 30%);
    $footer-color: white;
    $footer-link-color: white; //transparentize($footer-color, 0.6);
    $footer-disclaimer-color: transparentize($footer-color, 0.6);
    background: $footer-background;
    overflow: auto;

    //padding: $global-pg-lr-margin/2 $global-pg-lr-margin;
    @media (max-width: $xsmall-screen) {
        //padding: $global-pg-lr-margin/2 $global-pg-lr-margin/2;
    }
    width: 100%;
    .outer-container {
        padding: 2rem 4rem;
        @media (max-width: $small-screen) {
            padding: 2rem 1rem;
        }
    }
    .footer-logo {
        margin-bottom: 1em;
        margin-right: 1em;

        @include media($large-screen) {
            float: left;
            margin-bottom: 0;
        }
    }

    .footer-logo img {
        height: 1.6em;
    }
    .footer-nav {
        margin-bottom: 0;
        .footer-nav-main {
            li {
                @media (max-width: $small-screen) {
                    padding-right: 0;
                    width: 100%;
                }
            }
        }

    }
    ul {
        @media (max-width: $small-screen) {
            margin: 0 auto;
            padding: 0;
            display: table;
            text-align: center;
        }
    }

    ul li {
        list-style: none;
        padding-right: 1em;
        display: inline-block;
        line-height: 2em;
    }

    ul li a {
        color: $footer-link-color;
        text-decoration: none;

        &:focus,
            &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    .footer-secondary-links {
        @include media($large-screen) {
            float: right;
        }

        li {
            font-size: $base-font-size;
        }

        ul.footer-social, ul.social-list {
            @media (min-width: $small-screen + 0.05) {
                float: right;
            }

            @media (max-width: $small-screen) {
                margin: 1em auto 0;
                text-align: center;
                width: 100%;
                max-width: 100%;
            }

            li {
                display: inline-block;
                font-size: $base-font-size;
                line-height: 2em;
                margin: 0;
                padding-right: 0.25em;
                padding-left: 0.25em;
                @media (max-width: $large-screen) {
                    padding-bottom: 0.7em;
                }
            }

            img {
                background-color: pink;
                border-radius: 100%;
                color: #fff;
                display: block;
                height: 3rem;
                opacity: 0.7;
                padding: 1px;
                width: 3em;

                &:focus,
                    &:hover {
                    opacity: 1;
                }
            }
            a {
                background-color: #2AB2F5;
                border-radius: 100%;
                color: #fff;
                display: inline-block;
                font-size: 1.5rem;
                line-height: 2em;
                list-style: outside none none;
                text-align: center;
                transition: background-color 0.5s ease 0s;
                width: 2em;
                height: 2em;
                &:focus,
                    &:hover {
                    opacity: 1;
                    color: #bfbfbf;
                    background-color: lighten(#2AB2F5, 10%);
                    transition: background-color 0.5s ease 0s;
                    transition: color 0.5s ease 0s;
                }
            }
        }
    }
}   