.pages {
    .my-container .entry-header {
        margin-bottom: 6rem;
    }
    header.section-header {
        text-align: center;
        margin-bottom: 4rem;
    }
}

.my-container {
    &.pages {
    margin: 6rem auto 6rem;
    }
}
