/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 8:30:37 PM
    Author     : mattpeternell
*/


.flexy {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto 0;
    .tiles {
        display: flex;
        //align-items: baseline;
        @media (min-width: $large-screen +0.05) {
            margin-bottom: 2em;
            margin-right: 2em;
            width: 21.75%;
            &:nth-child(4n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $medium-screen +0.05) and (max-width: $large-screen) {
            margin-bottom: 2em;
            margin-right: 2em;
            width: 21.75%;
            &:nth-child(4n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $small-screen + 0.05) and (max-width: $medium-screen) {
            width: 47.5%;
            margin-right: 2em;
            margin-bottom: 2em;
            &:nth-child(2n) {
                margin-right: 0; 
            }
        }
        @media (max-width: $small-screen) {
            &:last-child {
                // margin-bottom: 0; 
            }
        }
        @media (min-width: $xsmall-screen + + 0.05) and (max-width: $small-screen) {
            width: 75%;
            margin-right: 0;
            margin-bottom: 2em;
        }
        @media (max-width: $xsmall-screen) {
            width: 100%;
            margin-bottom: 2em;
        }
        &:last-child {
            margin-right: 0; 
        }
        .panel {
            display: flex;
            align-items: stretch;
            margin-bottom: 0;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            padding: 1rem;
            width: 100%;

        }
        h1 {
            color: #000;
            margin-bottom: 1rem;
        }
        .cat-links {
            font-size: 0.75rem;
        }
        .lead {
            color: #000;
            margin-bottom: 1rem;
            line-height: inherit;
            color: black;
            font-style: italic;
            font-size: 16px;
            @media (max-width: $medium-screen) {
                text-align: center;
            }
        }
        .panel-title {
            flex: $global-flex;
            @media (max-width: $medium-screen) {
                text-align: center;
            }
            a {
                color: #fff;
                &:hover {
                    color: darken(#fff, 25%);
                }
            }
        }
        .slide-txt {
            //background-color: rgba(0,0,0,0.25);
            margin-bottom: 1rem;
            flex: $global-flex;
            @media (max-width: $medium-screen) {
                text-align: center;
            }
            &:last-child {
                margin: 0;
            }
            p {
                color: #000;
                margin: 0;
            }
        }
        .cat-links p {
            line-height: 26.5px;
        }
        img, picture {
            margin: 0 auto 0;
            display: block;
            @media (min-width: $small-screen + 0.05) and (max-width: $medium-screen) {
                max-width: 75%;
            }
            @media (max-width: $small-screen) {
                max-width: 75%;
            }
        }
    }
}


.flexy {
    max-width: 1920px;  
    @media (max-width: $xsmall-screen) {
        margin-left: 1em;
        margin-right: 1em;
    }
    .home-tiles-2 {
        display: flex;
        //align-items: baseline;
        @media (min-width: $xxlarge-screen + 0.05) {
            margin-right: $global-pg-lr-margin/2;
            margin-bottom: $global-pg-lr-margin/2;
            width: 22%;
            &:nth-child(4n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $xlarge-screen + 0.05) and (max-width: $xxlarge-screen) {
            margin-bottom: $global-pg-lr-margin/2;
            margin-right: $global-pg-lr-margin/2;
            width: 22.99%;
            &:nth-child(4n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $medium-screen + 0.05) and (max-width: $xlarge-screen) {
            margin-bottom: $global-pg-lr-margin/2;
            margin-right: $global-pg-lr-margin/2;
            width: 22.90%;
            &:nth-child(4n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $medium-screen+ 0.05) and (max-width: $medium-screen) {
            margin-bottom: $global-pg-lr-margin/2;
            margin-right: $global-pg-lr-margin/2;
            width: 48.5%;
            &:nth-child(2n) {
                margin-right: 0; 
            }
        }
        @media (min-width: $small-screen-2) and (max-width: $medium-screen) {
            width: 47.5%;
            margin-right: $global-pg-lr-margin/2;
            margin-bottom: $global-pg-lr-margin/2;
            &:nth-child(2n) {
                margin-right: 0; 
            }
        }
        @media (max-width: $xsmall-screen) {
            width: 100%;
            margin-bottom: $global-pg-lr-margin/2;
        }
        &:last-child {
            margin-right: 0;
            //margin-bottom: 0;
        }

        .panel {
            display: flex;
            align-items: flex-start;
            margin-bottom: 0;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            padding: $global-pg-lr-margin/2;
            @media (max-width: $xsmall-screen) {
                padding: $global-pg-lr-margin/4;
            }
            width: 100%;

        }
        .panel-heading {
            //flex: $global-flex;
            flex-shrink: 1;
            margin-bottom: 1rem;
            width: 100%;
        }
        .panel-title {
            flex: $global-flex;
            @media (max-width: $medium-screen) {
                text-align: center;
            }
            a {
                color: #fff;
                &:hover {
                    color: darken(#fff, 25%);
                }
            }
        }
        .wp-image {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            line-height: 1.42857;
            padding: 4px;
            transition: all 0.2s ease-in-out 0s;
        }
        .panel-body {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            @media (max-width: $medium-screen + 0.05) {
                //flex-direction: row
            }
            @media (max-width: $medium-screen) {

            }
            width: 100%;
        }
        .tile-col-1 {
            flex: $global-flex;
            width: 100%;
            margin-bottom: 1rem;
            clear: both;
            @media (max-width: $medium-screen) {
                width: 100%;
                margin-bottom: 2em;
                padding-right: 0;
            }
            @media (max-width: $medium-screen) {
                margin-bottom: 2em;
            }
            float: left;

            @media (max-width: $medium-screen) {
                width: 100%;
            }
            &:last-child {
                margin: 0;
            }
            p {
                color: #000;
            }
            .tag_list {
                text-align: left;
            }
        }
        .tile-col-2 {
            //background-color: rgba(0,0,0,0.25);
            flex: $global-flex;
            display: block;
            text-align: left;
            float: left;
            width: 100%;
            @media (max-width: $medium-screen) {
                width: 100%;
            }
        }
        .panel-title {
            flex: $global-flex;
            color: #fff;
            font-size: 1.25em;
            text-align: left;
            /*            @media (max-width: $xlarge-screen) {
                            font-size: 1.5689rem;
                        }
                        @media (max-width: $xsmall-screen) {
                            font-size: 1.25rem;
                        }*/
            a {
                @include text_link_hover(lighten, #2ab2f5, 25%, 500);
            }
        }
        .c-call-to-action.c-glyph {
            display: inline-block;
            margin: 1em 0;
            @include text_link_hover(lighten, #2ab2f5, 25%, 500);
        }
        .cat-links p {
            line-height: 26.5px;
        }
        .wp-post-image {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            line-height: 1.42857;
            padding: 4px;
            transition: all 0.2s ease-in-out 0s;
        }
        img, picture {
            margin: 0 auto 0;
            display: block;
            @media (max-width: $small-screen) {
                max-width: 300px;
            }
        }
        .cat-links {
            font-size: 0.75rem;
        }
        .tag_list {
            li {
                a {
                    margin: 0;
                    @include text_link_hover(lighten, #2ab2f5, 25%, 500);
                    &:after {
                        content: ",";
                        color: #000;
                        margin-left: 3px;
                        margin-right: 3px;
                    }
                }
                &:last-child {
                    a:after {
                        display: none
                    }
                }
            }

        }
        .lead {
            color: #000;
            margin-bottom: 1rem;
            line-height: inherit;
            color: black;
            font-size: 1.25rem;
        }
    }
}