.page-template-default {
    .default-page {
        .page-header {
            .section-title {

            }
            .subtitle {
                color: #000;
            }
        }
    }
}
.single {
    .site-main {
        padding-top: 5rem;
    }
    .entry-content-header {
        margin-top: $global-pg-lr-margin;
    }
    .entry-meta {
        margin-top:2rem;
    }
}

.port_desc, .entry-content  {
    margin-bottom: 1.75rem;
    a {
        @include text_link_hover(lighten, #2ab2f5, 25%, 400);
    }
}

.port_web_url, .port_web_dev, .port_web_des {
    @media (min-width: $xlarge-screen + 1) {
        font-size: modular-scale(1);
    }
    @media (max-width: $xlarge-screen) {
        font-size: modular-scale(0);
    }
    margin-bottom: 0.75rem;
    a {
        @include text_link_hover(lighten, #2ab2f5, 25%, 400);
    }  
}

.author {
    &.vcard {
        span.av-left {
            display: block;
            float: left;
        }
        span.av-right {
            display: block;
            float: left;
        }
        img {
            margin: 0; 
            max-width: 49px; 
            width: 100%; 
            height: auto; 
        }
    }

}

body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:last-child)::after {
    display: none;
}

.entry-footer > span:not(:last-child)::after {
    content: "/";
    display: inline-block;
    opacity: 0.7;
    padding: 0 0.538462em;
}

.entry-date {
    &.published {
        margin-right: 1em;
    }
}

.single .byline, .full-size-link, body.group-blog:not(.search-results) .byline, body:not(.search-results) .entry-format, body:not(.search-results) .cat-links, body:not(.search-results) .tags-links, body:not(.search-results) article:not(.sticky) .posted-on, body:not(.search-results) article:not(.type-page) .comments-link, body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
    display: block;
    margin-bottom: 0.538462em;
}
.single .byline, .group-blog .byline {
    display: inline;
}
.sticky .posted-on, .byline {
    display: none;
}

body:not(.search-results) article:not(.type-page) .entry-footer .avatar {
    display: block;
    height: auto;
    margin: 0 0 0.538462em;
    width: 49px;
}
.site .avatar {
    border-radius: 50%;
}
.entry-footer .avatar {
    height: 21px;
    margin: -0.153846em 0.538462em 0 0;
    width: 21px;
}

.says, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    overflow-wrap: normal !important;
    position: absolute !important;
    width: 1px;
}
.entry-footer {
    color: #686868;
    font-family: Montserrat,"Helvetica Neue",sans-serif;
    font-size: 0.8125rem;
    line-height: 1.61538;
    margin-top: 2.15385em;
    a {
        //color: #686868;
        @include text_link_hover(lighten, #2ab2f5, 25%, 400);
    }
}