<h1><a href="/">{{title}}</a></h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/posts" routerLinkActive="active">Posts</a>
    <a routerLink="/web-portfolio/" routerLinkActive="active">Web Portfolios</a>
    <a routerLink="/posts/about" routerLinkActive="active">About</a>
    <a routerLink="/posts/contact" routerLinkActive="active">Contact</a>
</nav>
<router-outlet name="" ></router-outlet>
<router-outlet name="web-cpt-list" ></router-outlet>
<router-outlet name="page-list" ></router-outlet>

